export BASE_MODEL=gpt-4-turbo-preview

export SLACK_SIGNING_SECRET=
export SLACK_BOT_TOKEN=
export SLACK_USER_TOKEN=

export NOTION_SECRET=
export DATABASE_ID=
export OPENAI_API_KEY=
export SENTRY_DSN=
export SENTRY_API_KEY=
export GITHUB_TOKEN=
export GITHUB_ORG=

export GOOGLE_CSE_ID=
export GOOGLE_SEARCH_API_KEY=
export GOOGLE_API_KEY=

export INTELX_API_KEY=

export TEST_SLACK_BOT_TOKEN=
export TEST_ASSISTANT_ID=
export TEST_USER=
