export SLACK_SIGNING_SECRET=
export SLACK_BOT_TOKEN=
export SLACK_USER_TOKEN=

export NOTION_SECRET=
export DATABASE_ID=
export SENTRY_DSN=
export GITHUB_TOKEN=
export GITHUB_ORG=

export GOOGLE_CSE_ID=
export GOOGLE_API_KEY=
export INTELX_API_KEY=

export TEST_SLACK_BOT_TOKEN=
export TEST_ASSISTANT_ID=
export TEST_USER=

export BASE_MODEL=gpt-3.5-turbo-0125
export HEAVY_MODEL=gpt-4-turbo-preview
export OPENAI_API_KEY=
