langchain
langchain-community
openai==v1.16.1
slack_sdk
notion-util==0.0.2
blockkit
slack_bolt
notion-client
PyGithub
tiktoken
requests
selenium
graphviz
gunicorn
flask
pluginbase
youtube-transcript-api
functions-framework
sentry-sdk
PyPDF2==2.12.1
google-generativeai
pillow
beautifulsoup4
pytz
yara-python
plyara
boto3
awslambdaric
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

